# Building a SQL Agent

This notebook shows how to build a SQL agent that can transform phrases in natural language into SQL queries using Langchain and LLMs. This notebook is a modifed version of the examples provided in the Langchain documentation available here: https://python.langchain.com/docs/tutorials/sql_qa/

## Setup

### Setting up path folder

This section sets up the search path to include modules found in other folder of the project. If you put all your files in a single project shithis step is not needed.

In [6]:
PARENT_FOLDER='notebooks'

import os, sys

this_path = os.getcwd()
folders = this_path.split('/')
index = folders.index(PARENT_FOLDER)
steps_to_root = len(folders) - folders.index(PARENT_FOLDER)
src_path = "/".join(['..'] * steps_to_root)

if src_path not in sys.path:
    sys.path.append(src_path)

### Importing libraries

In [7]:
from source.sql_agent import SQL_Agent, render
import warnings

### Initializing the agent
This section configures the database and initializes the agent by specifying the database, dialect and the LLM to use. The SQL_Agent library assumes you have created a .env file with the appropiate environment variables needed to connect to your LLM.

In [8]:
warnings.filterwarnings('ignore') # to supresss LangSmith warnings

db_uri="sqlite:///Chinook.db"
db_dialect = "SQLite"
my_agent = SQL_Agent(model_provider="openai",model_name="gpt-4o-mini",database_uri=db_uri, dialect=db_dialect, top_k=5)

## Execution

This question can be answered from a single table.

In [9]:
question = "What country has the biggest sales?"
render(my_agent.answer(question))

The country with the biggest sales is the **USA**, with total sales amounting to **$523.06**. Here are the top countries by sales:

1. **USA**: $523.06
2. **Canada**: $303.96
3. **France**: $195.10
4. **Brazil**: $190.10
5. **Germany**: $156.48

We modify the invocation to stream the answer and see how the Agent is thinking.

In [10]:
question = "What country has the biggest sales?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

What country has the biggest sales?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_XCDiNTE4fLFJnddXa6OQK5QI)
 Call ID: call_XCDiNTE4fLFJnddXa6OQK5QI
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_v2A9ma7UtaHabF2zjSL3l2ts)
 Call ID: call_v2A9ma7UtaHabF2zjSL3l2ts
  Args:
    table_names: Invoice
  sql_db_schema (call_txtdfUoVdJvPCJjqlLKOdAEo)
 Call ID: call_txtdfUoVdJvPCJjqlLKOdAEo
  Args:
    table_names: Customer
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_PXRevkpZHxOg41Cop5qjWsk0)
 Call ID: call_PXRevkpZHxOg41Cop5qjWsk0
  Args:
    query: SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_6oMuSnu0rKKPOAudUWKx9BH9)
 Call ID: call_6oMuSnu0rKKPOAudUWKx9BH9
  Args:
    query: SELECT BillingCountry, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48)]
================================== Ai Message ==================================

The country with the biggest sales is the **USA**, with total sales amounting to **$523.06**. Here are the top five countries with the highest sales:

1. **USA**: $523.06
2. **Canada**: $303.96
3. **France**: $195.10
4. **Brazil**: $190.10
5. **Germany**: $156.48

The country with the biggest sales is the **USA**, with total sales amounting to **$523.06**. Here are the top five countries with the highest sales:

1. **USA**: $523.06
2. **Canada**: $303.96
3. **France**: $195.10
4. **Brazil**: $190.10
5. **Germany**: $156.48

This question requires the use of 3 tables.

In [11]:
question = "What Album has sold the most tracks?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

What Album has sold the most tracks?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_h1x7B45x0kYQ0AZcf2Vx6xrs)
 Call ID: call_h1x7B45x0kYQ0AZcf2Vx6xrs
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_6G9QndJrInFAUz3KJEIQC6Pm)
 Call ID: call_6G9QndJrInFAUz3KJEIQC6Pm
  Args:
    table_names: Album
  sql_db_schema (call_rBu4g2fw1Oze2R9HMQTHnDLX)
 Call ID: call_rBu4g2fw1Oze2R9HMQTHnDLX
  Args:
    table_names: Track
  sql_db_schema (call_uCFv6QktVlQdFoCKxZ7uJ2at)
 Call ID: call_uCFv6QktVlQdFoCKxZ7uJ2at
  Args:
    table_names: InvoiceLine
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_570q5mkE5oxkDEAUCT9hH3gr)
 Call ID: call_570q5mkE5oxkDEAUCT9hH3gr
  Args:
    query: SELECT a.Title, SUM(il.Quantity) AS TotalSold
FROM Album a
JOIN Track t ON a.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.AlbumId
ORDER BY TotalSold DESC
LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT a.Title, SUM(il.Quantity) AS TotalSold
FROM Album a
JOIN Track t ON a.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.AlbumId, a.Title
ORDER BY TotalSold DESC
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_7yZSWnasCAGITChHH2gdrjV5)
 Call ID: call_7yZSWnasCAGITChHH2gdrjV5
  Args:
    query: SELECT a.Title, SUM(il.Quantity) AS TotalSold
FROM Album a
JOIN Track t ON a.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.AlbumId, a.Title
ORDER BY TotalSold DESC
LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('Minha Historia', 27), ('Greatest Hits', 26), ('Unplugged', 25), ('Acústico', 22), ('Greatest Kiss', 20)]
================================== Ai Message ==================================

The album that has sold the most tracks is **"Minha Historia"** with a total of 27 tracks sold. Here are some other top-selling albums:

1. **"Greatest Hits"** - 26 tracks sold
2. **"Unplugged"** - 25 tracks sold
3. **"Acústico"** - 22 tracks sold
4. **"Greatest Kiss"** - 20 tracks sold

The album that has sold the most tracks is **"Minha Historia"** with a total of 27 tracks sold. Here are some other top-selling albums:

1. **"Greatest Hits"** - 26 tracks sold
2. **"Unplugged"** - 25 tracks sold
3. **"Acústico"** - 22 tracks sold
4. **"Greatest Kiss"** - 20 tracks sold

This cell shows the default template used by the agent.

In [12]:
render(my_agent.prompt_template.messages[0].prompt.template)

You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.

This question requires 2 queries to be answered.

In [13]:
question = "What is the average duration of the top 5 best selling tracks?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

What is the average duration of the top 5 best selling tracks?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_VNdrLjoTff2OQn8CbBW6ed8X)
 Call ID: call_VNdrLjoTff2OQn8CbBW6ed8X
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_69IQoat096p1Mi67x3qEgwGJ)
 Call ID: call_69IQoat096p1Mi67x3qEgwGJ
  Args:
    table_names: Track
  sql_db_schema (call_H6i0sSa1UJ4UtsXbRt0JXJuQ)
 Call ID: call_H6i0sSa1UJ4UtsXbRt0JXJuQ
  Args:
    table_names: InvoiceLine
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_6hySwPpVe0ZWF4ffr9IDSLiJ)
 Call ID: call_6hySwPpVe0ZWF4ffr9IDSLiJ
  Args:
    query: SELECT Track.Name, Track.Milliseconds FROM Track INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Track.TrackId ORDER BY SUM(InvoiceLine.Quantity) DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT Track.Name, Track.Milliseconds
FROM Track
INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId
GROUP BY Track.TrackId, Track.Name, Track.Milliseconds
ORDER BY SUM(InvoiceLine.Quantity) DESC
LIMIT 5;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_Ybg9P4LwkoJfOn0ped2ys0uQ)
 Call ID: call_Ybg9P4LwkoJfOn0ped2ys0uQ
  Args:
    query: SELECT Track.Name, Track.Milliseconds FROM Track INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Track.TrackId, Track.Name, Track.Milliseconds ORDER BY SUM(InvoiceLine.Quantity) DESC LIMIT 5;
================================= Tool Message =================================
Name: sql_db_query

[('Balls to the Wall', 342562), ('Inject The Venom', 210834), ('Snowballed', 203102), ('Overdose', 369319), ('Deuces Are Wild', 215875)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_0dVrm5FU7R91YWHFUBsBzay9)
 Call ID: call_0dVrm5FU7R91YWHFUBsBzay9
  Args:
    query: SELECT AVG(Milliseconds) as AverageDuration FROM (SELECT Track.Milliseconds FROM Track INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Track.TrackId ORDER BY SUM(InvoiceLine.Quantity) DESC LIMIT 5);
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT AVG(Milliseconds) as AverageDuration FROM (SELECT Track.Milliseconds FROM Track INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Track.TrackId ORDER BY SUM(InvoiceLine.Quantity) DESC LIMIT 5);
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_7IZMd0JNCKRt90wx5C0dssOo)
 Call ID: call_7IZMd0JNCKRt90wx5C0dssOo
  Args:
    query: SELECT AVG(Milliseconds) as AverageDuration FROM (SELECT Track.Milliseconds FROM Track INNER JOIN InvoiceLine ON Track.TrackId = InvoiceLine.TrackId GROUP BY Track.TrackId ORDER BY SUM(InvoiceLine.Quantity) DESC LIMIT 5);
================================= Tool Message =================================
Name: sql_db_query

[(268338.4,)]
================================== Ai Message ==================================

The average duration of the top 5 best selling tracks is approximately 268,338 milliseconds, which is about 4 minutes and 28 seconds.

The average duration of the top 5 best selling tracks is approximately 268,338 milliseconds, which is about 4 minutes and 28 seconds.

This question requires 3 queries to be answered.

In [14]:
question = "What percent of customers bought tracks from the 2 albums with the higest sales?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

What percent of customers bought tracks from the 2 albums with the higest sales?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_jgQg3eMKa26onq7FnHHbPDkn)
 Call ID: call_jgQg3eMKa26onq7FnHHbPDkn
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_OlZREJr9zcBZgcO0GnIxndU9)
 Call ID: call_OlZREJr9zcBZgcO0GnIxndU9
  Args:
    table_names: Album, Invoice, InvoiceLine, Track
  sql_db_query (call_cHyhM395tvtFNa7dnv43qxrs)
 Call ID: call_cHyhM395tvtFNa7dnv43qxrs
  Args:
    query: SELECT AlbumId, SUM(Quantity) as TotalSales FROM InvoiceLine GROUP BY AlbumId ORDER BY TotalSales DESC LIMIT 2;
  sql_db_query (call_nlJXvuagyHJ3zWMknYF4rEg4)
 Call ID: call_nlJXvuagyHJ3zWMknYF4rEg4
  Args:
    query: SELECT COUNT(DISTINCT CustomerId) as TotalCustomers FROM Invoice;
================================= Tool Message =================================
Name: sql_db_query

[(59,)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_Kl5jKcx33Za7i448TvchICcY)
 Call ID: call_Kl5jKcx33Za7i448TvchICcY
  Args:
    query: SELECT Track.AlbumId, SUM(InvoiceLine.Quantity) as TotalSales FROM InvoiceLine JOIN Track ON InvoiceLine.TrackId = Track.TrackId GROUP BY Track.AlbumId ORDER BY TotalSales DESC LIMIT 2;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT Track.AlbumId, SUM(InvoiceLine.Quantity) as TotalSales FROM InvoiceLine JOIN Track ON InvoiceLine.TrackId = Track.TrackId GROUP BY Track.AlbumId ORDER BY TotalSales DESC LIMIT 2;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_qLpkijprVDbTCUU475pR61eu)
 Call ID: call_qLpkijprVDbTCUU475pR61eu
  Args:
    query: SELECT Track.AlbumId, SUM(InvoiceLine.Quantity) as TotalSales FROM InvoiceLine JOIN Track ON InvoiceLine.TrackId = Track.TrackId GROUP BY Track.AlbumId ORDER BY TotalSales DESC LIMIT 2;
  sql_db_query (call_raszUVF6OH6YB3aKHCsiJHJ2)
 Call ID: call_raszUVF6OH6YB3aKHCsiJHJ2
  Args:
    query: SELECT COUNT(DISTINCT CustomerId) as TotalCustomers FROM Invoice;
================================= Tool Message =================================
Name: sql_db_query

[(59,)]
================================== Ai Message ==================================

The two albums with the highest sales have the following total sales:

1. Album ID 23: 27 sales
2. Album ID 141: 26 sales

The total number of distinct customers who made purchases is 59.

Now, let's find out how many unique customers bought tracks from these albums. We can do this by checking the distinct customers in the invoices where tracks from these two albums were sold.

I will now query the database to get the distinct customers who purchased tracks from these albums.
Tool Calls:
  sql_db_query_checker (call_bSM9LH7s8YLxGMc6qxwSC26n)
 Call ID: call_bSM9LH7s8YLxGMc6qxwSC26n
  Args:
    query: SELECT COUNT(DISTINCT Invoice.CustomerId) as CustomersCount FROM InvoiceLine JOIN Track ON InvoiceLine.TrackId = Track.TrackId JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId WHERE Track.AlbumId IN (23, 141);
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT COUNT(DISTINCT Invoice.CustomerId) as CustomersCount
FROM InvoiceLine
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId
WHERE Track.AlbumId IN (23, 141);
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_a0VrhXG375EviICeyaybK5Ve)
 Call ID: call_a0VrhXG375EviICeyaybK5Ve
  Args:
    query: SELECT COUNT(DISTINCT Invoice.CustomerId) as CustomersCount FROM InvoiceLine JOIN Track ON InvoiceLine.TrackId = Track.TrackId JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId WHERE Track.AlbumId IN (23, 141);
================================= Tool Message =================================
Name: sql_db_query

[(25,)]
================================== Ai Message ==================================

A total of 25 distinct customers purchased tracks from the two albums with the highest sales.

Now, to calculate the percentage of those customers compared to the total number of customers:

\[
\text{Percentage} = \left( \frac{\text{CustomersCount}}{\text{TotalCustomers}} \right) \times 100 = \left( \frac{25}{59} \right) \times 100 \approx 42.37\%
\]

Therefore, approximately **42.37%** of customers bought tracks from the two albums with the highest sales.

A total of 25 distinct customers purchased tracks from the two albums with the highest sales.

Now, to calculate the percentage of those customers compared to the total number of customers:

\[
\text{Percentage} = \left( \frac{\text{CustomersCount}}{\text{TotalCustomers}} \right) \times 100 = \left( \frac{25}{59} \right) \times 100 \approx 42.37\%
\]

Therefore, approximately **42.37%** of customers bought tracks from the two albums with the highest sales.

We include more specific instructions to make sure that sales are taking into account the price and not just the quantities.

In [16]:
question = "Defining sales as the product of quantity by unit price, what percent of customers have bought tracks from the 2 albums with the higest sales?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

Defining sales as the product of quantity by unit price, what percent of customers have bought tracks from the 2 albums with the higest sales?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_StOY84PZqkbbvieOvSu7wlBV)
 Call ID: call_StOY84PZqkbbvieOvSu7wlBV
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_xgVABVawuYoWLrpL3DxnTuhI)
 Call ID: call_xgVABVawuYoWLrpL3DxnTuhI
  Args:
    table_names: Album, Track, InvoiceLine, Customer
  sql_db_schema (call_f3wLQRyR7NJ0aPTPoQtKbzBk)
 Call ID: call_f3wLQRyR7NJ0aPTPoQtKbzBk
  Args:
    table_names: Invoice
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_gcq1Bgfc60XbtY9XIO1u1pAd)
 Call ID: call_gcq1Bgfc60XbtY9XIO1u1pAd
  Args:
    query: SELECT a.Title, SUM(il.Quantity * il.UnitPrice) AS TotalSales
FROM Album a
JOIN Track t ON a.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.AlbumId
ORDER BY TotalSales DESC
LIMIT 2;
================================= Tool Message =================================
Name: sql_db_query

[('Battlestar Galactica (Classic), Season 1', 35.82), ('The Office, Season 3', 31.84)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_nHrqMdlyqabbteFLfic4lm60)
 Call ID: call_nHrqMdlyqabbteFLfic4lm60
  Args:
    query: SELECT COUNT(DISTINCT c.CustomerId) AS NumberOfCustomers,
       (SELECT COUNT(DISTINCT i.CustomerId)
        FROM Invoice i
        JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
        JOIN Track t ON il.TrackId = t.TrackId
        JOIN Album a ON t.AlbumId = a.AlbumId
        WHERE a.Title IN ('Battlestar Galactica (Classic), Season 1', 'The Office, Season 3')) AS CustomersFromTopAlbums
FROM Customer c;
================================= Tool Message =================================
Name: sql_db_query

[(59, 13)]
================================== Ai Message ==================================

To determine the percentage of customers who have bought tracks from the two albums with the highest sales ('Battlestar Galactica (Classic), Season 1' and 'The Office, Season 3'), we found the following:

- Total number of customers: 59
- Number of customers who bought tracks from the top albums: 13

The percentage of customers who have purchased tracks from these albums is calculated as follows:

\[
\text{Percentage} = \left(\frac{\text{CustomersFromTopAlbums}}{\text{NumberOfCustomers}}\right) \times 100 = \left(\frac{13}{59}\right) \times 100 \approx 22.03\%
\]

Thus, approximately **22.03%** of customers have bought tracks from these two albums.

To determine the percentage of customers who have bought tracks from the two albums with the highest sales ('Battlestar Galactica (Classic), Season 1' and 'The Office, Season 3'), we found the following:

- Total number of customers: 59
- Number of customers who bought tracks from the top albums: 13

The percentage of customers who have purchased tracks from these albums is calculated as follows:

\[
\text{Percentage} = \left(\frac{\text{CustomersFromTopAlbums}}{\text{NumberOfCustomers}}\right) \times 100 = \left(\frac{13}{59}\right) \times 100 \approx 22.03\%
\]

Thus, approximately **22.03%** of customers have bought tracks from these two albums.

We modify the system prompt to include a definition of sales for any question.

In [17]:
new_system_message = '''System: You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct SQLite query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most 5 results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.

To start you should ALWAYS look at the tables in the database to see what you can query.
Do NOT skip this step.
Then you should query the schema of the most relevant tables.
Sales are defined by the product of Quantity and Unit Price not just quantity.'''

my_agent.set_custom_system_message(new_system_message)
my_agent.initialize_agent()

We asked the same question without explicitely defining sales.

In [18]:
question = "What percent of customers have bought tracks from the 2 albums with the higest sales?"
render(my_agent.stream_answer(question))

================================ Human Message =================================

What percent of customers have bought tracks from the 2 albums with the higest sales?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_rEhpWjH4eaeD37bJO5o2e8ff)
 Call ID: call_rEhpWjH4eaeD37bJO5o2e8ff
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_T5NSEz0H9whCPcssH5phMOtW)
 Call ID: call_T5NSEz0H9whCPcssH5phMOtW
  Args:
    table_names: Album
  sql_db_schema (call_j1r6VJXTEaBMgc2r3h1IyIox)
 Call ID: call_j1r6VJXTEaBMgc2r3h1IyIox
  Args:
    table_names: Invoice
  sql_db_schema (call_DR6FTAPtQX4cVevYOoNyUi9W)
 Call ID: call_DR6FTAPtQX4cVevYOoNyUi9W
  Args:
    table_names: InvoiceLine
  sql_db_schema (call_10MkQw54Q84VNACwQh1zmcrG)
 Call ID: call_10MkQw54Q84VNACwQh1zmcrG
  Args:
    table_names: Track
  sql_db_schema (call_HamNS52fluUVuPzE9htvVqAb)
 Call ID: call_HamNS52fluUVuPzE9htvVqAb
  Args:
    table_names: Customer
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_9JO8dHr6ZUGxVSyaq8ik9ChY)
 Call ID: call_9JO8dHr6ZUGxVSyaq8ik9ChY
  Args:
    query: SELECT a.AlbumId, a.Title, SUM(il.Quantity * il.UnitPrice) AS Sales
FROM Album a
JOIN Track t ON a.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.AlbumId, a.Title
ORDER BY Sales DESC
LIMIT 2;
================================= Tool Message =================================
Name: sql_db_query

[(253, 'Battlestar Galactica (Classic), Season 1', 35.82), (251, 'The Office, Season 3', 31.84)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_XnQ4HQS7IGGaDmtjG5dVWKvS)
 Call ID: call_XnQ4HQS7IGGaDmtjG5dVWKvS
  Args:
    query: SELECT COUNT(DISTINCT CustomerId) AS UniqueCustomers
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
WHERE t.AlbumId IN (253, 251);
================================= Tool Message =================================
Name: sql_db_query

Error: (sqlite3.OperationalError) no such column: CustomerId
[SQL: SELECT COUNT(DISTINCT CustomerId) AS UniqueCustomers
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
WHERE t.AlbumId IN (253, 251);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_g9QUhIQpABJjelsnqAPXMG0i)
 Call ID: call_g9QUhIQpABJjelsnqAPXMG0i
  Args:
    query: SELECT COUNT(DISTINCT i.CustomerId) AS UniqueCustomers
FROM InvoiceLine il
JOIN Track t ON il.TrackId = t.TrackId
JOIN Invoice i ON il.InvoiceId = i.InvoiceId
WHERE t.AlbumId IN (253, 251);
================================= Tool Message =================================
Name: sql_db_query

[(13,)]
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_st9SLrFbeatJxceureawBoEu)
 Call ID: call_st9SLrFbeatJxceureawBoEu
  Args:
    query: SELECT COUNT(DISTINCT CustomerId) AS TotalCustomers FROM Customer;
================================= Tool Message =================================
Name: sql_db_query

[(59,)]
================================== Ai Message ==================================

The two albums with the highest sales are:

1. **Battlestar Galactica (Classic), Season 1** - $35.82
2. **The Office, Season 3** - $31.84

A total of **13 unique customers** purchased tracks from these two albums. There are **59 total customers** in the database.

To calculate the percentage of customers who purchased tracks from the two albums:

\[
\text{Percentage} = \left( \frac{\text{Unique Customers}}{\text{Total Customers}} \right) \times 100
= \left( \frac{13}{59} \right) \times 100 \approx 22.03\%
\]

Thus, approximately **22.03%** of customers have bought tracks from the two albums with the highest sales.

The two albums with the highest sales are:

1. **Battlestar Galactica (Classic), Season 1** - $35.82
2. **The Office, Season 3** - $31.84

A total of **13 unique customers** purchased tracks from these two albums. There are **59 total customers** in the database.

To calculate the percentage of customers who purchased tracks from the two albums:

\[
\text{Percentage} = \left( \frac{\text{Unique Customers}}{\text{Total Customers}} \right) \times 100
= \left( \frac{13}{59} \right) \times 100 \approx 22.03\%
\]

Thus, approximately **22.03%** of customers have bought tracks from the two albums with the highest sales.